.fm1{
	border:2px outset black;
	border-radius:15px;	
	background-color:powderblue;
	text-align:center;
	width:500px;
	height:280px;
	
}

.pass{
	height:35px;
	width:80%;
}
.email{
	height:35px;
	width:80%;
}	
.b1{
	height:35px;
	width:50%;
	background-color:green;
	border-radius:15px;
}